= render 'shared/navigation'
section.container-fluid.row.flex-nowrap
  = render 'shared/sidebar', :user => @user
  = render 'posts', :user => @user, :posts => @posts, :followee_posts => @followee_posts

